body {
    color: #fff;
    font-family: "Verdana", sans-serif;
    background: radial-gradient(#2d2d30, #1b1b1c);
    margin: 0;
    padding: 0;
}
a:link, .button {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
a:hover, .button:hover {
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: #fff;
}
.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 4px;
}
.header-info:link {
    color: #fff6;
}
.header-info:hover {
    color: #fff;
    text-decoration: none;
}
.footer {
    width: 512px;
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.footer > div {
    display: flex;
    justify-content: space-between;
}
.navigation > div {
    display: flex;
    gap: 8px;
}
.toggle input {
    vertical-align: top;
    position: relative;
    bottom: 3px;
}
.toggle label {
    padding-left: 3px;
}