body {
    background-color: #000;
    color: #fff;
    text-align: center;
}
a:link {
    color: #ccc;
}
a:hover {
    color: #fff;
}
#title {
    font-weight: bold;
}
#player {
    margin: 12px 0;
}
#vote {
    margin-top: 12px;
}