<div class="content">
	<div class="header-large">{Title}</div>
	<div class="player-container loading"
		data-legacy-server="{Legacy_Server}"
		data-game-zip="{Game_Zip}"
		data-launch-command="{Launch_Command}"
		data-extreme-tags="{Extreme_Tags}"
		data-id="{ID}"
	></div>
	<div class="actions">
		<div class="more-info button">[More Info]</div>
		<a href="{Direct_Link}">[Direct Link]</a>
	</div>
</div>
<div class="panel-container hidden">
	<div class="draggable"></div>
	<div class="panel">
		<div class="header-small">Entry Information</div>
		{Info_Table}
		{Add_App_Header}
		{Add_App_Table}
		{Game_Data_Header}
		{Game_Data_Table}
	</div>
</div>