<!DOCTYPE html>
<html>
	<head>
		<title>{Title}</title>
		<link rel="stylesheet" href="/shell.css">
		{Styles}
		{Scripts}
	</head>
	<body>
		{Content}
		<div class="footer">
			<a href="/faq">FAQ</a>
			<div class="bullet"></div>
			<a href="/browse">Browse</a>
			<div class="bullet"></div>
			<a href="{Random_Link}">Random</a>
			<div>&nbsp;</div>
			<a href="{Random_Link_NSFW}">(+NSFW)</a>
			<div class="spacer"></div>
			<div class="last-updated">Last updated {Last_Update}</div>
		</div>
	</body>
</html>